* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #064608;
  color: #f4f4f4;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin-top: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 50%;
  gap: 10px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f4f4f4;
}

.form button {
  padding: 10px;
  background-color: #064608;
  color: #f4f4f4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form button:hover {
  background-color: #0a6a0a;
}

.form label {
  font-weight: bold;
}

.tabela-veiculos {
  width: 50%;
  margin-top: 20px;
  text-align: center;
  border-collapse: collapse;
}

.tabela-veiculos th {
  background-color: #064608;
  border: 1px solid #fff;
  color: #f4f4f4;
}

.tabela-veiculos th,
td {
  border-bottom: 1px solid #064608;
  padding: 10px;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.edit-btn,
.delete-btn {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 16px;
}
